PORT=8586

# Backend API Base URL
BACKEND_URL=http://localhost:8585

# Default Values for Frontend Testing Form
DEFAULT_EXPECTED_AMOUNT=1
DEFAULT_PROMPTPAY_TARGET=
DEFAULT_PROMPTPAY_NAME=นาย สมศักดิ์
